{% extends 'BytedocGpsBundle::layout.html.twig' %}

{% block head_javascripts %}

	{{ parent() }}

	<script>
		// register the paths for required modules
		jQuery.sap.registerModulePath("net.bytedoc.UI5","{{ asset('bundles/bytedocgps/ext') }}");
		jQuery.sap.require("net.bytedoc.UI5.JSONModelSymfony");
			// JSONModelPHPFile is required directly, because class used directly
		jQuery.sap.registerModulePath("net.bytedoc.nicgps","{{ asset('bundles/bytedocgps/view') }}");
		jQuery.sap.registerModulePath("net.bytedoc","{{ asset('bundles/bytedocgps/ext') }}");
		jQuery.sap.require("net.bytedoc.Helper");

		jQuery.sap.require("net.bytedoc.nicgps.AppController");
		var oApp = net.bytedoc.nicgps.AppController;
	
		oApp.readDataService = '{{ path("read", {}) }}';
		oApp.writeDataService = '{{ path("write", {}) }}';

		// create all the Workset Items and View Array
		// these are the necessary "global objects/arrays"
		var oModels = {};
		var oViews = {};
		var oControllers = {};
		var aNavigationItems = []; // Navigation Items
		// initiate the structure that holds the Metadata for
		//   Navigation, Views, Data Entities
		var oShellWorksetItems = {
			// FULL CONFIGURATION EXAMPLE
			// WI_example : {							# attribute identifier for this item
			// 	key : "wi_example",						# KEY for the workset item
			// 	text : "Example",						# TEXT that is displayed in the shell navigation
			// 	inNavigation : true,					# BOOLEAN include in Navigation (default FALSE)
			// 	view : null,							# VIEW object placeholder, required
			// 	entity : "exampleentity",				# ENTITY of the data that will be managed by the model
			// 	viewName : "net.bytedoc.example.view",	# VIEW-NAME defined in view file
			// 	autoSave : false,						# BOOLEAN use AutoSave for the model (default FALSE)
			// 	defaultContent : false 					# BOOLEAN use this content as default content for the shell
			// },
			WI_home : {
				key : "wi_home",
				text : "Home",
				view : null,
				entity : null,
				viewName : "net.bytedoc.nicgps.Dashboard",
				inNavigation : true,
				includedWorksetItems : {
					WI_goals : {
						key : "wi_goals",
						text : "Goals",
						view : null,
						entity : "Goal",
						viewName : "net.bytedoc.nicgps.Goals",
						autoSave : true
					},
				}
			},
			WI_books : {
				key : "wi_books",
				text : "Bücher",
				view : null,
				entity : "Book",
				viewName : "net.bytedoc.nicgps.Books",
				defaultContent : true,
				inNavigation : true
			},
			WI_portale : {
				key : "wi_webressourcen",
				text : "Web-Ressourcen",
				view : null,
				entity : "Webressource",
				viewName : "net.bytedoc.nicgps.WebRessourcen",
				autoSave : true,
				inNavigation : true
			}
			
		};
		oApp.createModelsViewsNavigation(oShellWorksetItems);
	
		oShell = oApp.createShell({
			id : "myShell",
			appTitle : "{{ app.user.username }}'s GPS",
			logoutPath : "{{ path('logout') }}"
		});
		

		oShell.placeAt('shell');
	
		// Initialise the App "Controller"
		oApp.init();
		var mydebug;
		
	</script>
{% endblock %}

{% block title %}
Nic's GPS
{% endblock %}

{% block body %}

	<div id='shell'></div>

{% endblock %}

